h1 {
	text-align:center;
	color: black;
	font-size: 15px;
	font-weight: 700;
}

Body {
	background-color:white
	padding: 100;
	margin: 50;
	font: Outfit;
}

P {
	text-align:center;
	color: Light gray;
	font-size: 15px;
	font-weight: 400;
}
